# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/MyNotes/ListeningToKeyPress.txt
/MyNotes/CleanUpAndAbortController.txt
/MyNotes/PersonalNotes.txt
/README.mdfixing 
/MyNotes/Premisse Handling.txt
/App-v1.js
/App-v2.js
/index-star.js
/states sumary.docx
/MyNotes/GitNotes.txt
/src/App-v2.js
/src/App-v1.js
/MyNotes
